/*TODO: Variables*/
:root {
    --colorPrimary: rgba(221, 180, 40, 0.9);
    --colorSecondary: white;
    --colorThird: rgba(9, 9, 9, 0.8);
}

body {
    margin: 0 auto;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Segoe UI Historic",
        "Segoe UI",
        Helvetica,
        Arial,
        sans-serif;
    background: url(../image/letraE.png) no-repeat center center fixed;
    background-size: 55% 50%;
}

/*TODO: Header*/
.box-header {
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--colorSecondary);
}

#logo-Emperador {
    height: auto;
    width: 25vw;
    min-width: 10em;
}

/*TODO: Main*/
.macro-box {
    margin: 0 auto;
    width: 100%;
}

main #box1 {
    padding-top: 9%;
}

#title,
.title1,
.title2,
#form h3,
label {
    width: 90%;
    height: auto;
    text-align: center;
}

#title {
    font-size: 5vmin;
    text-align: center;
    margin-left: 4vw;
}

.title1 {
    font-size: 4vmin;
    float: left;
}

.title2 {
    font-size: 4vmin;
    float: right;
}

.box-main,
.box-main2 {
    margin: 0 auto;
    padding: 0.5em;
    width: 90%;
    display: flex;
    align-items: center;
}

.box-main2 {
    flex-direction: row-reverse;
}

.videos iframe {
    width: 50vw;
    min-width: 13.5em;
    height: 55vh;
    margin: 0em 1em 0em 1em;
    border-radius: 1em;
}

.info-action {
    padding: 0.5em;
    width: 45%;
    height: auto;
    max-height: 90%;
    background-color: rgba(45, 45, 45, 0.1);
    border-radius: 0.5em;
}

.help-text,
.box-txt p,
#form input {
    font-size: 2.5vmin;
}

.boton-accion {
    font-weight: bold;
    font-size: 2vmin;
    width: 4.5vw;
    border: 1px solid rgba(92, 92, 92, 0.6);
    border-radius: 1em 1em 0em 1em;
    padding: 0.5em;
    background-color: var(--colorPrimary);
    color: var(--colorThird);
    /**position: fixed;
    top: 77%;
    left: 97%;
    transform: translate(-50%, -50%);*/
}

.zone-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: right;
    position: fixed;
    top: 77%;
    left: 97%;
    transform: translate(-50%, -50%);
}

.zone-btn img {
    width: 4vmin;
}

a {
    text-decoration: none;
}

main a:hover {
    transition: 0.3s;
    font-size: 2.7vmin;
    color: var(--colorPrimary);
    background-color: var(--colorThird);
}

/**TODO: Cajón de texto*/
.box-txt {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 2%;
    border: 1px solid #ccc;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 0.5em;
    text-align: justify;
}


/*TODO: Formulario*/
.box-form {
    width: 100%;
}

#form {
    margin: 0 auto;
    margin-bottom: 1em;
    border: 1px solid;
    padding-bottom: 1em;
    width: 45vmin;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--colorPrimary);
    box-shadow: 2px 10px 10px 1px rgba(00, 00, 00, 0.5),
        -2px 0px 10px rgba(00, 00, 00, 0.5);
    border-radius: 1em;
    transition: 1s;
    transform: scale(1);
}

#form:focus-within {
    text-align: center;
    color: white;
    background: var(--colorThird);
    box-shadow: 2px 10px 10px 1px rgba(221, 180, 40, .7),
        -2px 0px 10px rgba(221, 180, 40, 0.7);
    transition: 1s;
    transform: scale(1.2);
}

#form input {
    width: 15vw;
    height: 3vh;
    margin: 1% 0 1% 0;
    border: none;
    border-bottom: 1px solid;
    background: none;
    color: #fff;
    outline: 10px;
}

#form #enviar {
    font-weight: bold;
    padding: 1em;
    height: 4.5vh;
    color: black;
}