/*TODO: Variables*/
:root {
    --colorPrimary: rgba(221, 180, 40, 0.9);
    --colorSecondary: white;
    --colorThird: rgba(9, 9, 9, 0.8);
}

body {
    margin: 0 auto;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Segoe UI Historic",
        "Segoe UI",
        Helvetica,
        Arial,
        sans-serif;
    background: url(../image/letraE.png) no-repeat center center fixed;
    background-size: 55% 50%;
}

/*TODO: Header*/
.box-header {
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--colorSecondary);
}

#logo-Emperador {
    height: auto;
    width: 25vw;
    min-width: 10em;
}

/*TODO: Main*/
.macro-box {
    margin: 0 auto;
    width: 100%;
}

main #box1 {
    padding-top: 9%;
}

#title,
.title1,
.title2,
.form h3,
label {
    width: 90%;
    height: auto;
    text-align: center;
}

/*----------Font-size titulo-------------*/
#title{
    font-size: 5vmin;
    margin-bottom: 0%;

}

/*----------Font-size sub-titulo-------------*/
.title1,
.title2,
h3{
    font-size: 4vmin;
}

/*----------Font-size texto-------------*/
.help-text,
.box-txt p,
.boton-accion,
label,
.form input,
.form #enviar {
    font-size: 2.5vmin;
}


#title {
    text-align: center;
    margin-left: 4vw;
}

.title1 {
    float: left;
}

.title2 {
    float: right;
}

.box-main,
.box-main2 {
    margin: 0 auto;
    padding: 0.5em;
    width: 90%;
    display: flex;
    align-items: center;
}

.box-main2 {
    flex-direction: row-reverse;
}

.videos iframe {
    width: 50vw;
    min-width: 13.5em;
    height: 55vh;
    margin: 0em 1em 0em 1em;
    border-radius: 1em;
}

.info-action {
    padding: 0.5em;
    width: 45%;
    height: auto;
    max-height: 90%;
    background-color: rgba(45, 45, 45, 0.1);
    border-radius: 0.5em;
    box-shadow: 0px 5px 10px 0px rgba(45, 45, 45, 0.9);
}

/*---------TODO: Zona de botones de acción------------*/

.zone-btn{
    position: fixed;
    transform: translate(-50, -50);
    left: 91%;
    top: 10%;
    content: "";
    border-style: solid;
    border-width: 11em 3em 3em 3em;
    border-color: var(--colorThird) var(--colorThird)  transparent;
    width: 0;
    height: 0;
}
.intern{
    position: relative;
    right: 4.5em;
    top: -10em;
    width: 8em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
    text-align: center;
}

.img-contact {
    width: 2em;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

main a:hover {
    transition: 0.3s;
    color: var(--colorPrimary);
    background-color: var(--colorThird);
}


/**TODO: Cajón de texto*/
.box-txt {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 2%;
    border: 1px solid #ccc;
    box-shadow: 0px 5px 10px 0px rgba(45, 45, 45, 0.9);
    border-radius: 0.5em;
    text-align: justify;
}


/*TODO: Formulario*/
.box-form {
    width: 100%;
}

.form {
    margin: 0 auto;
    margin-bottom: 1em;
    border: 1px solid;
    padding-bottom: 1em;
    width: 45vmin;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--colorPrimary);
    box-shadow: 2px 10px 10px 1px rgba(00, 00, 00, 0.5),
        -2px 0px 10px rgba(00, 00, 00, 0.5);
    border-radius: 1em;
    transition: 1s;
    transform: scale(1);
}

.form input {
    width: 80%;
    text-align: center;
    height: 3vh;
    margin: 1% 0 1% 0;
    border: none;
    border-radius: 0 0 1em 1em;
    background: linear-gradient(180deg,rgba(221, 180, 40, 0.2) 80%, rgba(9, 9, 9, 0.8));
    color: white;
    outline: none;
}

.form:focus-within {
    text-align: center;
    color: white;
    background: var(--colorThird);
    box-shadow: 2px 10px 10px 1px rgba(221, 180, 40, .7),
        -2px 0px 10px rgba(221, 180, 40, 0.7);
    transition: 1s;
    transform: scale(1.1);
}

 .form #enviar {

    background: linear-gradient(120deg,rgba(9, 9, 9, 0.8),rgba(221, 180, 40, 0.9), rgba(9, 9, 9, 0.8));
    cursor: pointer;
    position: relative;
    padding: 1% 20%;
    font-weight:bold;
    padding-bottom: 7.5%;
    border-radius: 0em 1em 0em 1em;
    color: black;
}

.form #enviar:hover{
    color: white;
    transition: 1s;
}