/*TODO: Responsive 800 pixels*/
@media (max-width: 800px) {
    main #box1{
        padding-top: 1.6em;
    }

    #title {
        font-size: 2em;
    }

    .title2{
        font-size: 1.4em;
    }

    .box-main,.box-main2 {
        flex-direction: column;
        align-items: center;
    }

    .videos video {
        width: 95vw;
    }

    .info-action {
        width: 100%;
        text-align: center;
    }

    .boton-accion, .boton-accion2{
        float: right;
    }
    .help-text, .boton-accion, .boton-accion2{
        font-size: 1em;
    }

}