/*TODO: Responsive 800 pixels*/
@media (max-width: 800px) {
    body {
        background-size: contain;
    }

    main #box1 {
        padding-top: 7vh;
    }

    /*----------Font-size titulo-------------*/
#title{
    font-size: 2.5em;

}

/*----------Font-size sub-titulo-------------*/
.title1,
.title2{
    font-size: 2em;
}

/*----------Font-size texto-------------*/
.help-text,
.box-txt p,
.boton-accion,
h3,
label,
#form input,
#form #enviar {
    font-size: 1em;
}


    .box-main,
    .box-main2 {
        flex-direction: column;
        align-items: center;
    }

    .videos iframe {
        width: 95vw;
    }

    .info-action,
    label {
        width: 100%;
        text-align: center;
    }


    .zone-btn img {
        width: 10vw;
    }

    .zone-btn {
        width: 10vw;
        left: 93%;
        top: 55%;
    }

    /*TODO: Formulario*/
    #form {
        width: 50vmin;
    }

}