/*TODO: Responsive 800 pixels*/
@media (max-width: 800px) {
    body {
        background-size: contain;
    }

    .box-header {
        justify-content: flex-start;
    }

    main #box1 {
        padding-top: 5em;
    }

    /*----------Font-size titulo-------------*/
    #title {
        font-size: 2.5em;
    }

    /*----------Font-size sub-titulo-------------*/
    .title1,
    .title2 {
        font-size: 2em;
    }

    /*----------Font-size texto-------------*/
    .help-text,
    .box-txt p,
    .boton-accion,
    h3,
    label,
    .form input,
    .form #enviar {
        font-size: 1em;
    }

    .videos iframe{
        width: 100%;
    }

    .box-main,
    .box-main2 {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }


    .info-action,
    label {
        width: 100%;
        text-align: center;
    }


    .zone-btn {
        top: 2%;
        ;
        left: 60%;
        border-color: transparent;
    }

    .intern {
        width: 40vw;
        display: flex;
        justify-content: space-between;
    }


    /*TODO: Formulario*/
    .form {
        width: 90%;
        min-width: 11em;
    }

    .form #enviar {
        padding-bottom: 2%;
    }

}