/*TODO: Responsive 800 pixels*/
@media (max-width: 800px) {
    body {
    background-size: contain;
    }
    main #box1{
        padding-top: 5vh;
    }

    #title {
        font-size: 2em;
    }

    .title2{
        font-size: 1.4em;
    }

    .box-main,.box-main2 {
        flex-direction: column;
        align-items: center;
    }

    .videos video {
        width: 95vw;
    }

    .info-action {
        width: 100%;
        text-align: center;
    }

    .boton-accion, .boton-accion2{
        float: right;
    }

    main a:active{
        transition: 0.3s;
        font-size: 2.7vmin;
        color: var(--colorPrimary);
        background-color: var(--colorSecondary);
    }

    .help-text, .boton-accion, .boton-accion2{
        font-size: 1em;
    }

    /*TODO: Formulario*/
    #form {
        width: 25vmax;
    }

    #form input{
        width: 20vmax;
    }

}