/*TODO: Responsive 800 pixels*/
@media (max-width: 800px) {
    body {
    background-size: contain;
    }
    main #box1{
        padding-top: 7vh;
    }

    #title {
        font-size: 2em;
    }

    .title1, .title2{
        font-size: 1.4em;
    }

    .box-main,.box-main2 {
        flex-direction: column;
        align-items: center;
    }

    .videos iframe {
        width: 95vw;
    }

    .info-action, label {
        width: 100%;
        text-align: center;
    }
    .help-text,
    .box-txt p,
    #form input{
        font-size: 1em;
    }

    .zone-btn img{
        width: 10vw;
    }

    .zone-btn {
        width: 10vw;
    left: 93%;
    top: 55%;
    }

    /*TODO: Formulario*/
    #form {
        width: 80vmin;
    }

    #form input{
        width: 30vmin;
    }

}